@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    padding: 2.5rem;
    background: linear-gradient(180deg, #FFFFFF 0%, #E2F1FF 100%);
    width: 100%;
    height: 100%;
    margin-bottom: 5rem;

}

nav {
    display: flex;
    justify-content: space-around;
    gap: 5rem;
    margin-bottom: 5rem;
    
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 2rem;
    
}

nav a {
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    transition: 0.3s ease-in-out;
    
}

nav a:hover {
    opacity: 0.8;
    color: #722ED1;

}

button {
    color: #722ED1;
    background-color: #FFFFFF;
    padding: 13px;
    border: none;
    border-radius: 23px;
    border: 1px solid #722ED1;
}

button:hover {
    opacity: 0.2;
    cursor: pointer
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    
}

.hero-btn{
    color: #FFFFFF;
    background-color: #722ED1;
    font-size: 1rem;
    padding: 13px;
    border: none;
    border-radius: 23px;
    border: 1px solid #722ED1;
}


 .hero-btn2 {
    color: #722ED1;
    background-color: #FFFFFF;
    font-size: 1.1rem;
    padding: 13px;
    border: none;
    border-radius: 23px;
    border: 1px solid #FFFFFF;
}

span {
    background-color: #F7F1FF;
    padding: 1rem;
    border-radius: 23px;
    color: #722ED1;

   
}

span u {
    cursor: pointer;
}


h1 {
    font-size: 3rem;
    margin: 1.5rem 0;
    font-weight: 900;
    line-height: 48px;
}

p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    margin: 1rem 0;
    color: #000000;
}

main {
    text-align: center;
    padding: 2.5rem;
    margin-bottom: 5rem;
    background-color: #FFFFFF;
    max-width: 100%;
    height: 100%;
}

h2 {
    margin-top: 2.5rem ;
}

.stats {
    display: flex;
    gap: 2rem;
}

.col-3 {
    padding: 1.5rem;
}

.product-engine-teams {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    margin-bottom: 2rem;
    gap: 2rem;
    background-color: #FFFFFF;
   
}

.product-engine-teams h1 {
    font-size: 2rem;
    font-weight: 700;
}

aside {
    background: linear-gradient(175.54deg, #f9f0ff94 25.81%, #e2f1ff7b 96.38%);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 4rem;
    margin-bottom: 5rem;
    max-width: 100%;
    height: 100%;
  
}

h4 {
    margin-bottom: 2rem;
}

.testimonials-token {
    border-top: 1.5px solid #DEC9FA;
    padding: 1rem;
}

 .form {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 1rem;
        margin-bottom: 5rem;
        gap: 1rem;
        background-color: #FFFFFF;
        max-width: 100%;
        height: 100%;
       
}

.trust {
    color: #8989A2;
    font-weight: 500;
    text-align: center;
    font-size: 1.2rem;
    margin: 1.5rem 0;
}

.Trustees {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
  
}

.form-title {
    background: #722ED1;
    padding: 0.7rem 4rem;
    color: #FFFFFF;
}

.form-heading {
    text-align: center;
}

input[type=text] {
    width: 100%;
    padding: 1rem 2rem;
    margin: 0.5rem 0;
    display: inline-block;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    box-sizing: border-box;
  }

  
input[type=password] {
    width: 100%;
    padding: 1rem 2rem;
    margin: 0.5rem 0;
    display: inline-block;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .col-2 p {
    text-align: center;

  }

  .an-account {
    border-top: 1px solid #8989A2;
   padding: 0.5rem 0;
  }

  .ea {
    font-size: 4rem;
    color: brown;
  }

  .why-qubly {
    font-size: 1.6rem;
  }

  footer {
    padding: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2rem;
    gap: 2rem;
    height: 100%;
    max-width: 100%;
  }
  
  input[type=email] {
    width: 100%;
    padding: 1rem 2rem;
    color: #8989A2;
    display: inline-block;
    border: 2px solid #ffffffd5;
    border-radius: 4px;
    box-sizing: border-box;
    filter: drop-shadow(0px 5px 9px rgba(5, 4, 4, 0.084));
    margin-bottom: 2rem;

  }

  h4 {
    font-size: 1.2rem;
    font-weight: 600;
  }


  .col-6 ul li{
    list-style-type: none;
    color: black;
    font-weight: 500;
    color: #160637;
    line-height: 2rem;

  }

  .col-6 ul li:hover{
    cursor: pointer;
    color: #722ED1;
  }

  .footer-info {
    line-height: 2rem;
    font-weight: 500;

  }

  input[type=button] {
    
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    background-color: #722ED1;
    color: #FFFFFF;
    display: inline-block;
    border: 1px solid #722ED1;
    border-radius: 4px;
    box-sizing: border-box;

  }

  input[type=button]:hover {
    opacity: 0.5;
    cursor: pointer;

  }

  .Developer {
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    color: #000000a1;
  }
  
  .hamburger {
    display: none;
  
} 


@media only screen and (max-width: 586px)
 {
  section {
    flex-direction: column;
    max-width: 100%;
    height:100 ;
  }

  .img {
    width: 100%;
  }

  .stats {
    flex-direction: column;
    height: 100%;
    max-width: 100%;
    
  }

  .col-3 {
    padding: 0;
  }

  .product-engine-teams {
    flex-direction: column;
    height: 100%;
    max-width: 100%;
  }

  aside {
    max-width: 100%;
    height: 100%;
  }

  .form {
    flex-direction: column;
    max-width: 100%;
    height: 100%;
  }

  footer {
    flex-direction: column;
    height: 100%;
    max-width: 100%;
  }

  h1 {
    font-size: 2rem;
  }

  nav ul{
    position: absolute;
    top: 100px;
    left: 50px;
    background: #722ed1d5;
    padding: 2rem;

 }

 nav ul li a {
    color: hsla(0, 0%, 100%, 0.988);
    font-size: 1.2rem;
    letter-spacing: 3px;
   
  }
  .nav-btn {
   margin-top: 2rem;
  }
  
  .hamburger {
    display: block;
    cursor: pointer;
}

} 